var anuncios = require("mongoose");
<%include header.ejs%>

<div class="container-table">
    <h3>Listado de Anuncios</h3>
<table class="table table-striped">
    <tr>
        <th class="col-width">#</th>
        <th class="col-width">ID</th>
        <th class="col-width">Nombre Producto</th>
        <th class="col-width">Venta</th>
        <th class="col-width">Precio</th>
        <th class="col-width">Tags</th>
        <th class="col-width">Foto</th>
    </tr>
    <% anuncios.forEach((anuncio, i) =>{%>

        <tr>
            <td><%= i + 1 %></td>
            <td class="col-width"><%= anuncio._id %></td>
            <td class="col-width"><%= anuncio.nombre %></td>
            <td class="col-width"><%= anuncio.venta ? 'Si' : 'No' %></td>
            <td class="col-width"><%= anuncio.precio %>€</td>
            <td class="col-width"><%= anuncio.tags %></td>
            <td class="col-width"><img src="../images/anuncios/<%= anuncio.foto %>" alt="" class="img-spot"></td>
        </tr>
    <% }) %>
</table>
</div>
<nav class="nav">
    <a class="nav-link active" href="/api/anuncios">Listado Anuncios</a>
    <a class="nav-link active" href="/api/anuncios?tags=work%20funny">Filtro Por Tag</a>
    <a class="nav-link" href="/api/anuncios?precio=80-190">Filtro Por Precio</a>
    <a class="nav-link" href="/api/anuncios?nombre=n">Filtrado Por Nombre</a>
    <a class="nav-link" href="/api/anuncios?sort=-precio">Filtrado Por orden descendente</a>
    <a class="nav-link" href="/api/anuncios?limit=2&skip=1">Paginación</a>
    <a class="nav-link" href="/api/anuncios?venta=true">Filtrado Venta</a>
    <a class="nav-link" href="/api/anuncios?limit=2&venta=true&precio=60-&tags=sports&nombre=G">Filtros Varios</a>
</nav>
<form method="post">
    <button type="submit" formaction="api/anuncios/crear-anuncio"  class="btn btn-outline-success">Crear Anuncio</button>
</form>
<%include footer.ejs%>